{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>HitchRide Register</title>

  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">

   <style>
    .img-container {
      text-align: center;
      display: block;
      position: relative;
      top: 130px;
    }
  </style>

</head>

<body class="bg-gradient-primary">
  <div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-5 d-none d-lg-block">
            <span class="img-container"> <!-- Inline parent element -->
                  <img src="{% static 'images/carpool1.jpeg' %}" alt="Carpool" align = "center"/>
            </span>
          </div>
          <div class="col-lg-7">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
              </div>
              <form action="{% url 'logPage:registerUser' %}" name = "registration"  onsubmit = "return validateForm()" method = "post" class="user">
                 {% csrf_token %}
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="text" class="form-control form-control-user" name = "firstName" id="firstName" placeholder="First Name">
                  </div>
                  <div class="col-sm-6">
                    <input type="text" class="form-control form-control-user" name ="lastName" id="lastName" placeholder="Last Name">
                  </div>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control form-control-user"  name ="userId" id="userId" placeholder="User Id">
                </div>
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="password" class="form-control form-control-user" name ="passWd" id="passWd" placeholder="Password">
                  </div>
                  <div class="col-sm-6">
                    <input type="password" class="form-control form-control-user"  name = "rpassWd" id="rpassWd" placeholder="Repeat Password">
                  </div>
                </div>
                  <input type="submit" class="btn btn-primary btn-user btn-block" value="OK">
              </form>
              <hr>
              <div class="text-center">
                <a class="small" href="forgot-password.html">Forgot Password?</a>
              </div>
              <div class="text-center">
                <a class="small" href="{% url 'logPage:index' %}">Already have an account? Login!</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <script>
    function validateForm() {
    var val = document.forms["registration"]["firstName"].value;
    if (val == "") {
        alert("First Name can't be empty");
        return false;
      }
      var val = document.forms["registration"]["lastName"].value;
      if (val == "") {
        alert("Last Name can't be empty");
        return false;
      }
      var val = document.forms["registration"]["userId"].value;
      if (val.length < 6) {
        alert("userID should be at least 6 characters long");
        return false;
      }
      var val1 = document.forms["registration"]["passWd"].value;
      var val2 = document.forms["registration"]["rpassWd"].value;

      if(val1 != val2) {
        alert("Passwords not matching");
        return false;
      }
  
      if(val1.length < 6) {
        alert("Password should be at least 6 characters long");
        return false;
      }
  } 
  </script>

  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin-2.min.js"></script>
  {% if userExist %}
   <script> alert("User Id already exists!") </script>
  {% endif %}

</body>

</html>
