{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Driver Dashboard</title>

  <!-- Custom fonts for this template-->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <!-- <link href="{% static 'css/mapStyle.css' %}" rel="stylesheet" type="text/css"> -->
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{% static 'css/sb-admin-2.css' %}" rel="stylesheet">

   <style>
      .img-container {
        text-align: center;
        display: block;
        position: relative;
        top: 10%;
      }
      .mapBox{
        margin-top:10%;
        margin-left:auto;
        margin-right: auto;
        width:60%;
        height:60%;
        display: block;
        border-radius: 6%;
      }
    </style>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map-canvas{
        height: 80%;
        width: 80%;
      }
    </style>
    <script src="{% static 'js/mapSearch.js' %}"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB64EM3P7XmfNlop7aUjzacIXAQJVAMjkA &libraries=places&callback=initMap"></script>
</head>

<body class="bg-gradient-primary" style = "min-height: 100vh ; min-width: 100vh ;  background-image: url('/static/images/cab.gif');">

  <div class="container">
    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="container-fluid">

            <!-- Page Heading -->
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
              <h1 class="h3 mb-0 text-gray-800">Driver Dashboard</h1>
            </div>
  
            <div class="row">
  
              <!-- Earnings (Monthly) Card Example -->
              <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                  <div class="card-body">
                    <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Seats Available</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">4</div>
                      </div>
                      <div class="col-auto">
                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
  
              <!-- Pending Requests Card Example -->
              <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-warning shadow h-100 py-2">
                  <div class="card-body">
                    <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Ride Requests</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">6</div>
                      </div>
                      <div class="col-auto">
                        <i class="fas fa-comments fa-2x text-gray-300"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="row">
  
              <div class="col-lg-6">
  
                <!-- Dropdown Card Example -->
                <div class="card shadow mb-4">
                  <!-- Card Header - Dropdown -->
                  <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Ride 1</h6>
                    <div class="dropdown no-arrow">
                      <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                      </a>
                      <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                        <div class="dropdown-header">Dropdown Header:</div>
                        <a class="dropdown-item" href="#">Accept</a>
                        <a class="dropdown-item" href="#">Reject</a>
                      </div>
                    </div>
                  </div>
                  <!-- Card Body -->
                  <div class="card-body">
                    Rider Name : ABC<br>
                    Location : XYZ<br>
                    Destination : XYZ<br>
                  </div>
                </div>

                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Ride 2</h6>
                        <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                            <div class="dropdown-header">Dropdown Header:</div>
                            <a class="dropdown-item" href="#">Accept</a>
                            <a class="dropdown-item" href="#">Reject</a>
                        </div>
                        </div>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        Rider Name : DEF<br>
                        Location : PQR<br>
                        Destination : PQR<br>
                    </div>
                </div>

                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Ride 3</h6>
                        <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                            <div class="dropdown-header">Dropdown Header:</div>
                            <a class="dropdown-item" href="#">Accept</a>
                            <a class="dropdown-item" href="#">Reject</a>
                        </div>
                        </div>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        Rider Name : HIJ<br>
                        Location : FEG<br>
                        Destination : XYZ<br>
                    </div>
                </div>
                  
  
                
  
              </div>

              <div class="col-lg-6">
  
                <!-- Add map here -->
                <div class = "mapBox" id="map-canvas"></div>
                <script>
                    // var pickup = '{{paramDict.pickup}}',
                    // liveLat = '{{paramDict.latVal}}',
                    // liveLng = '{{paramDict.lngVal}}'
                
                    function initMap() {
                
                    // console.log("initMap")
                    // console.log(pickup)
                    // console.log(liveLat)
                    // console.log(liveLng)
                    var directionsService = new google.maps.DirectionsService();
                    var directionsRenderer = new google.maps.DirectionsRenderer();
                    var map = new google.maps.Map(document.getElementById('map-canvas'), {
                      zoom: 7,
                      center: {lat: 41.85 , lng: -87.65}
                    });
                    directionsRenderer.setMap(map);
                    calculateAndDisplayRoute(directionsService, directionsRenderer);
                    //console.log("ended initMap")
                
                    // document.getElementById('start').addEventListener('change', onChangeHandler);
                    // document.getElementById('end').addEventListener('change', onChangeHandler);
                  }
                  
                  function calculateAndDisplayRoute(directionsService, directionsRenderer ) {
                    // console.log("In calcandDisplay")
                    // console.log(params)
                    // console.log(pickup)
                    // console.log(liveLat)
                    // console.log(liveLng)
                    // console.log("caclualte")
                
                    directionsService.route(
                    {
                      origin: new google.maps.LatLng(liveLat , liveLng),
                      destination: pickup,
                      travelMode: 'DRIVING'
                    },
                    function(response, status) {
                      if (status === 'OK') {
                        directionsRenderer.setDirections(response);
                      } else {
                        window.alert('Directions request failed due to ' + status);
                      }
                    });
                  }
                
                  </script>
                   <script async defer
                    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB64EM3P7XmfNlop7aUjzacIXAQJVAMjkA &callback=initMap">
                  </script>
              </div>
  
            </div>
  
          </div>
      </div>

    </div>

  </div>
  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{% static 'js/sb-admin-2.min.js' %}"></script>
  {% if loginFail == True %}
   <script> alert("Password is incorrect!") </script>
  {% endif %}

  {% if userExist == False %}
   <script> alert("User Id does not exist!") </script>
  {% endif %}
</body>

</html>